@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}

html,body{
  margin: 0;
  padding: 0;
  background-color: #94ffed;
  height: 100vh;
  font-family: 'Open Sans';
}

button{
  border-radius: 0;
  width: 100%;
  height: 50%;
}

button[type="submit"] {
  -webkit-appearance:none; -webkit-border-radius:0;
}

button i{
  float: right;
  padding-right: 30px;
  margin-top: 3px;
}

button.a{
  background-color: #b7f7a4;
}

button.b{
  background-color: #b7f7a4;
}

#content-container{
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: table;
  padding: 10px;
  /* max-width: 940px; */
  height: 90%;
  width: 90%;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 10px white;
  transition: all 0.3s ease-in-out;
}

#content-container:hover{
  box-shadow: 0px 0px 20px white;
  transform: translate(-50%, -50%) scale(1.02);
}

#content-container-center{
  display: table-cell;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  padding: 20px;
}

#content-container-center h3{
  color: #081309;
}

#choice{
  transition: all 300ms linear;
  line-height: 1.3em;
  display: inline;
  vertical-align: middle;
  font-size: 3em;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice button{
  display: block;
  height: 80px;
  width: 330px;
  border: none;
  color: black;
  font-size:18px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 50px;
}

#choice button.a:hover{
  background-color: #94ffed;
}

#choice button.b:hover{
  background-color: #94ffed;
}

#choice button.a:focus{
  background-color: #94ffed;
}

#choice button.b:focus{
  background-color: #94ffed;
}

#background-stats{
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:50%;
  height:100%;
}
